.blog-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 4rem;
  font-family: "Inter", sans-serif;
}

.blog-header h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 77.45px;
  letter-spacing: -0.04em;
}

.author-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.author-profile .profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-profile .profile img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.author-profile .profile p {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  letter-spacing: -0.02em;
}

.author-profile .date {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: 40px;
  padding-left: 1rem;
}

.blog-header .subheading {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  width: 73%;
  padding: 3.5rem 0;
}

.blog-header img {
  height: auto;
  border-radius: 30px;
}

.articles {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5rem 10rem;
}

.article-container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  gap: 6rem;
}

article h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  letter-spacing: -0.04em;
  margin-bottom: 2rem;
}

article p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.6);
}

.articles aside.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.articles aside.socials p {
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 1);
}

.quote {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.05) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-size: 36px;
  font-style: italic;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -0.04em;
  padding: 2rem;

  border: 2px solid rgb(238, 238, 238);
  border-right: none;
  border-left: none;
}
