* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Exodus Sans";
  src: url("assets/font/eudoxus-sans-font-family-1738301395-0/EudoxusSans-Regular-BF659b6cb1d4714.ttf");
}

body {
  font-family: "Inter", serif;
  height: 100vh;
  margin: 0;
}

/* NAV */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  padding: 0 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .links ul {
  display: flex;
  gap: 50px;
  list-style: none;
}

.navbar .links ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.navbar .links ul li a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.navbar .socials {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* INBOX */
.inbox {
  margin: 0 5rem;
  border-radius: 60px;
  height: 50vh;
  background-color: rgba(231, 249, 253, 1);
  position: relative;
  overflow: hidden;

  /* Center everything inside */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inbox .title {
  max-width: 600px; /* Prevents text from stretching */
}

.inbox .title p:first-child {
  font-size: 48px;
  font-weight: 500;
  line-height: 58.09px;
  color: rgba(0, 0, 0, 1);
}

.inbox .title p:last-child {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
}

.inbox .subscribe-form {
  margin-top: 4rem;
  background-color: rgba(255, 255, 255, 1);
  width: 480px;
  border-radius: 24px;
  display: flex;
  padding: 0.5rem;
}

.inbox .subscribe-form input {
  flex: 1;
  padding: 1.2rem;
  border: none;
  outline: none;
  border-radius: 16px;
  font-size: 16px;
}

.inbox .subscribe-form input::placeholder {
  color: rgba(150, 150, 150, 1);
  font-size: 14px;
}

.inbox .subscribe-form button {
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 300;
  line-height: 16.94px;
  padding: 1rem 2rem;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.inbox .subscribe-form button:hover {
  background: rgba(50, 50, 50, 1);
}

.kisspng {
  position: absolute;
  bottom: 0;
  left: 0;
}

.Photo-plate {
  position: absolute;
  bottom: 0;
  right: 0;
}

.rucola {
  position: absolute;
  bottom: 70px;
  right: 250px;
}

/* TRY RECIPE */
.gen-try-recipe {
  margin: 8rem 4rem;
  padding-bottom: 4rem;
}

.gen-try-recipe .title {
  font-size: 36px;
  font-weight: 500;
  line-height: 43.57px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

/* original style from recipe section */
.gen-try-recipe .try-recipe-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gen-try-recipe .try-recipe-cards .recipe-card {
  width: 290px;
}

.gen-try-recipe .try-recipe-cards .card-top {
  position: relative;
}

.gen-try-recipe .try-recipe-cards .card-top img {
  border-radius: 20px;
}
.gen-try-recipe .try-recipe-cards .card-top .heart {
  position: absolute;
  top: 10px;
  left: 220px;
  background: rgba(255, 255, 255, 1);
  padding: 15px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.gen-try-recipe .try-recipe-cards .card-detail > p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: left;
}

.gen-try-recipe .try-recipe-cards .card-detail .details,
.gen-try-recipe .try-recipe-cards .card-detail .details .time,
.gen-try-recipe .try-recipe-cards .card-detail .details .meal {
  display: flex;
  align-items: center;
  gap: 10px;
}

.gen-try-recipe .try-recipe-cards .card-detail .details {
  gap: 20px;
}

/* FOOTER */
footer {
  margin-top: 6rem;
  padding: 40px 5%;
}

footer > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); /* Demarcator line */
}

footer > div:first-child div:first-child {
  display: flex;
  flex-direction: column;
}

footer > div:first-child div:first-child img {
  width: 110px;
}

footer > div:first-child p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  margin-top: 15px;
}

footer ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

footer ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  transition: 0.3s ease;
}

footer ul li a:hover {
  color: rgba(0, 0, 0, 1);
}

footer .lower-half {
  display: flex;
  align-items: center;
  margin-top: 50px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

footer .lower-half p {
  font-family: "Exodus Sans", sans-serif;
  margin: 0 auto;
}

footer .lower-half span {
  font-weight: bold;
  color: rgb(255 121 103);
}

footer .lower-half .base-socials {
  display: flex;
  gap: 40px;
}
footer .lower-half .base-socials img {
  height: 20px;
}
